@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-300;
  }

  .dark body {
    /* Al usar gray-950 aquí, usará el Zinc que definimos en el config */
    @apply bg-gray-950 text-gray-100;
  }
}
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
